.header
{
    display: flex;
    position: fixed;
    justify-content: space-between;
    left: 0px;
    right: 0px;
    padding-left: 20px;
    padding-right: 12px;
    top: 0px;
    vertical-align: middle;

    padding-top: 10px;
    z-index: 100;;
    background-color: rgba(255,255,255);
    box-shadow: 0px 2px 0px rgba(0,0,0,0.15);
}

.section-1
{
    display: inline-block;
    position: relative;
    object-fit: contain;
    object-position: center;
    width: auto;
}

.section-2
{
    display: flex;
    position: relative;
    gap: 30px;
    vertical-align: middle;
}

.head-logo
{
    height: 50px;
    width: auto;
}

.btn-1
{
    display: inline-block;
    align-items: center;
    height: 30px;
    color: black;
    cursor: pointer;
}

.btn-arrow
{
    width: 15px;
    height: 15px;
    transform: rotate(-90deg);
    vertical-align: middle;
    cursor: pointer;
}

.marketing:hover .btn-1
{
    color: blue;
    transition: 0.30s ease-in;
    transform: scale(1.1);
}

.marketing:hover .btn-arrow
{
    transform: rotate(90deg);
    transition: 0.75s;
}

.review:hover .btn-1
{
    color: blue;
    transition: 0.30s ease-in;
    transform: scale(1.1);
}

.review:hover .btn-arrow
{
    transform: rotate(90deg);
    transition: 0.75s;
}

.btn-1:hover
{
    color: blue;
    transition: 0.30s ease-in;
    transform: scale(1.1);
}

.btn-1:active
{
    transform: scale(1);
}

.btn-1:hover .btn-arrow
{
    transform: rotate(90deg);
    transition: 0.75s;
}
.drp-dwn-arrow
{
    height: 20px;
    width: 20px;
    display: inline-block;
    background-color: white;
    z-index: 100;
}

.marketing, .review
{
    position: relative;
}

.col-1
{
    /* display: flex;
    justify-content: space-between; */
    width: 100%;
    right: 0px;
    padding: 10px 10px;
    position: relative;
    box-shadow: 0px 0px 3px 3px rgba(9,5,240,0.15);
    border-radius: 5px;
    background-color: white;
}

.col-2
{
    position: relative;
}

.drp-dwn
{
    display: none;
    position: absolute;
    left: 0px;
    top: 100%;
    width: 234px;
    height: auto;
    border-radius: 6px;
    background-color: white;
}

.drp-dwn-1
{
    display: none;
    position: absolute;
    left: 100%;
    top: -8px;
    width: 234px;
    height: auto;
    border-radius: 6px;
    background-color: white;
    margin-left: 10px;
}

.col-2:hover .drp-dwn-1
{
    display: block;
    background-color: white;
    z-index: 101;
}

.col-3
{
    width: 100%;
    position: relative;
    padding: 10px 10px;
    box-shadow: 0px 0px 3px 3px rgba(9,5,240,0.15);
    border-radius: 5px;
    background-color: white;
}

.col-2:hover .topic-dm
{
    box-shadow: 1px 3px 3px 3px rgba(9, 5, 240, 0.15);
    transition: 0.5s;
    border-radius: 5px;
    color: blue;
    transform: scale(1.02);
}

.col-2:hover .topic-sn
{
    box-shadow: 1px 3px 3px 3px rgba(9, 5, 240, 0.15);
    transition: 0.5s;
    border-radius: 5px;
    color: blue;
    transform: scale(1.02);
}

.col-2:hover .topic-msn
{
    box-shadow: 1px 3px 3px 3px rgba(9, 5, 240, 0.15);
    transition: 0.5s;
    border-radius: 5px;
    color: blue;
    transform: scale(1.02);
}

.col-2:hover .topic-smm
{
    box-shadow: 1px 3px 3px 3px rgba(9, 5, 240, 0.15);
    transition: 0.5s;
    border-radius: 5px;
    color: blue;
    transform: scale(1.02);
}

.col-2:hover .topic-wt
{
    box-shadow: 1px 3px 3px 3px rgba(9, 5, 240, 0.15);
    transition: 0.5s;
    border-radius: 5px;
    color: blue;
    transform: scale(1.02);
}
.marketing:hover .drp-dwn
{
    display: block;
    transition: 1s;
    background-color: white;
    z-index: 100;
}

.review:hover .drp-dwn
{
    display: block;
    transition: 1s;
    background-color: white;
    z-index: 100;
}

.topic-1
{
    text-decoration: none;
    color: black;
    display: flex;
    padding: 10px 5px;
    width: 220px;
    vertical-align: middle;
}
.topic-1:hover
{
    box-shadow: 1px 3px 3px 3px rgba(9, 5, 240, 0.15);
    transition: 0.5s;
    border-radius: 5px;
    color: blue;
    transform: scale(1.02);
}
.topic-1:hover .drp-dwn-arrow
{
    transform: rotate(360deg);
    transition: all 1s;
}
.topic-1 p
{
    margin: 0px;
    padding-left: 5px;
}

.topic-dm
{
    text-decoration: none;
    color: black;
    display: flex;
    padding: 10px 5px;
    width: 220px;
    vertical-align: middle;
}
.topic-dm:hover
{
    box-shadow: 1px 3px 3px 3px rgba(9, 5, 240, 0.15);
    transition: 0.5s;
    border-radius: 5px;
    color: blue;
    transform: scale(1.02);
}
.topic-dm:hover .drp-dwn-arrow
{
    transform: rotate(360deg);
    transition: all 1.5s;
}
.topic-dm p
{
    margin: 0px;
    padding-left: 5px;
}

.topic-sn
{
    text-decoration: none;
    color: black;
    display: flex;
    padding: 10px 5px;
    width: 220px;
    vertical-align: middle;
}
.topic-sn:hover
{
    box-shadow: 1px 3px 3px 3px rgba(9, 5, 240, 0.15);
    transition: 0.5s;
    border-radius: 5px;
    color: blue;
    transform: scale(1.02);
}
.topic-sn:hover .drp-dwn-arrow
{
    transform: rotate(360deg);
    transition: all 1.5s;
}
.topic-sn p
{
    margin: 0px;
    padding-left: 5px;
}

.topic-msn
{
    text-decoration: none;
    color: black;
    display: flex;
    padding: 10px 5px;
    width: 220px;
    vertical-align: middle;
}
.topic-msn:hover
{
    box-shadow: 1px 3px 3px 3px rgba(9, 5, 240, 0.15);
    transition: 0.5s;
    border-radius: 5px;
    color: blue;
    transform: scale(1.02);
}
.topic-msn:hover .drp-dwn-arrow
{
    transform: rotate(360deg);
    transition: all 1.5s;
}
.topic-msn p
{
    margin: 0px;
    padding-left: 5px;
}

.topic-smm
{
    text-decoration: none;
    color: black;
    display: flex;
    padding: 10px 5px;
    width: 220px;
    vertical-align: middle;
}
.topic-smm:hover
{
    box-shadow: 1px 3px 3px 3px rgba(9, 5, 240, 0.15);
    transition: 0.5s;
    border-radius: 5px;
    color: blue;
    transform: scale(1.02);
}
.topic-smm:hover .drp-dwn-arrow
{
    transform: rotate(360deg);
    transition: all 1.5s;
}
.topic-smm p
{
    margin: 0px;
    padding-left: 5px;
}

.topic-wt
{
    text-decoration: none;
    color: black;
    display: flex;
    padding: 10px 5px;
    width: 220px;
    vertical-align: middle;
}
.topic-wt:hover
{
    box-shadow: 1px 3px 3px 3px rgba(9, 5, 240, 0.15);
    transition: 0.5s;
    border-radius: 5px;
    color: blue;
    transform: scale(1.02);
}
.topic-wt:hover .drp-dwn-arrow
{
    transform: rotate(360deg);
    transition: all 1.5s;
}
.topic-wt p
{
    margin: 0px;
    padding-left: 5px;
}

.contacts
{
    position: relative;
    display: flex;
}

.slide
{
    display: flex;
}

.social-logo
{
    height: 30px;
    width: 30px;
    padding: 5px 8px 5px 8px;
    vertical-align: middle;
}
.social-wa:hover .social-logo
{
    transition: 0.8s;
    transform: scale(1.14);
}

.social-ins:hover .social-logo
{
    transition: 0.8s;
    transform: scale(1.14);
}

.social-tw:hover .social-logo
{
    transition: 0.8s;
    transform: scale(1.14);
}

.social-ln:hover .social-logo
{
    transition: 0.8s;
    transform: scale(1.14);
}

.social-fb:hover .social-logo
{
    transition: 0.8s;
    transform: scale(1.14);
}